body{
   font-family: sans-serif;
}
h1{ color: #ef9c00;
         text-shadow: -2px -2px  black;
          font-size: 200%;
}
img{
   float: left;
}
headerh2{
   color: orange;
   padding-left: 80px;
   font-style: italic;
   text-shadow: 2px 1px black;
}
header>h3{
   padding-left: 80px;
}
a:link,a:visited{
   color: orange;
}
a:hover,a:focus{
   color: green;
}
li{
   padding: .4em;
}
footer{
   font-size: 11px;
   text-align: center;
}